@import url(http://fonts.googleapis.com/css?family=PT+Sans:700|Cutive);

body {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

#preso,
.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: auto;
}

pre.sh_sourceCode {
  border-radius: 15px;
  font-size: 2.5em;
  line-height: 1.5em;
  padding: 12px 20px 18px;
}

h1 {
  font-size: 4em;
  line-height: 1.3;
  padding-left: 20px;
  padding-right: 20px;
}
.center h1 {
  line-height: 1.5;
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.content > ul > li {
  font-size: 45px;
  padding-bottom: 0;
}
li li {
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.slide {
  height: 100%;
  width: 100%;
  margin-bottom: 6em;
}
.slide.content {
  padding-left: 15px;
  padding-right: 15px;
}
.slide.center {
  display: table;
}
.slide.center .content {
  display: table-cell;
  vertical-align: middle;
}

.red.slide {
  background-color: #B3002B;
  color: white;
}

.blue.slide {
  background-color: #A1E5FF;
}

.green.slide {
  background-color: #1A8A27;
  color: #fff;
}

h1,
.fun {
  font-family: 'Cutive', serif;
}
